@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@page {
    size: A4;
    margin: 1cm;
}

@media print {
    figure, table{
        break-inside: avoid-page;
    }
    body {
        column-count: 2;
    }
}

h1, h2, h3, h4 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

p, li {
    text-align: justify;
    font-family: sans-serif;
}

th, td {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ABABAE;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
}